# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
# Install Python and dependencies
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.x'
    addToPath: true

- script: |
    python -m pip install --upgrade pip
    pip install -r dependencies.txt
  displayName: 'Install dependencies'

# Run Unit Tests with Coverage
- script: |
    pytest --cov=calculator --cov-report=xml --junitxml=test-results.xml tests/
  displayName: 'Run Tests and Collect Coverage'

# Publish Test Results
- task: PublishTestResults@2
  inputs:
    testResultsFiles: '**/test-results.xml'
    testRunTitle: 'Unit Test Results'

# Publish Code Coverage Results
- task: PublishCodeCoverageResults@1
  inputs:
    codeCoverageTool: 'Cobertura'
    summaryFileLocation: '$(System.DefaultWorkingDirectory)/coverage.xml'
  displayName: 'Publish Code Coverage Results'

