trigger:
  branches:
    include:
      - development
      - master
      - feature/CA3

pool:
  vmImage: 'ubuntu-latest'

jobs:
  - job: Build
    displayName: 'Build Job'
    steps:
      - task: Checkout@1
        displayName: 'Checkout Code'

      - script: |
          echo "##vso[task.setvariable variable=BuildArtifactStagingDirectory]$(Build.ArtifactStagingDirectory)"
          echo "Build.ArtifactStagingDirectory: $(Build.ArtifactStagingDirectory)"
        displayName: 'Set ArtifactStagingDirectory Variable'

      - script: |
          pip install -r requirements.txt
        displayName: 'Install Dependencies'

      - script: |
          zip -r artifact.zip src/
        displayName: 'Build Artifact'

      - task: PublishBuildArtifacts@1
        inputs:
          artifactName: 'build-artifact'
          publishLocation: 'Container'
        displayName: 'Upload Artifact'

  - job: Test
    dependsOn: Build
    displayName: 'Test Job'
    steps:
      - task: DownloadBuildArtifacts@0
        inputs:
          artifactName: 'build-artifact'
          downloadPath: $(Build.ArtifactStagingDirectory)/artifact
        displayName: 'Download Artifact'

      - script: |
          pytest tests/
        displayName: 'Run Unit Tests'

      - script: |
          pip install flake8
          flake8 .  # Run flake8 on your project directory to check code style issues
        displayName: 'Run Static Code Analysis with Flake8'

      - script: |
          pip install pytest
          pip install coverage
          pytest --maxfail=1 --disable-warnings -q --tb=short --junitxml=pytest_results.xml
          coverage run -m pytest
          coverage xml -o coverage.xml
          coverage report
        displayName: 'Run Unit Tests with pytest and Track Code Coverage'

  - job: DeployToTest
    dependsOn: Test
    displayName: 'Deploy to Test'
    steps:
      - script: |
          echo "Deploying to Test"
        displayName: 'Deploy to Test'

  - job: DeployToProd
    dependsOn: DeployToTest
    displayName: 'Deploy to Production'
    steps:
      - script: |
          echo "Deploying to Production"
        displayName: 'Deploy to Production'

  - job: PublishResults
    dependsOn: Test
    displayName: 'Publish Results'
    steps:
      - task: PublishCodeCoverageResults@2
        inputs:
          codeCoverageTool: 'Cobertura'
          summaryFileLocation: '$(Build.SourcesDirectory)/coverage.xml'
          reportDirectory: '$(Build.ArtifactStagingDirectory)'
        displayName: 'Publish Code Coverage Results'

      - task: PublishTestResults@2
        inputs:
          testResultsFiles: '**/pytest_results.xml'
          testRunTitle: 'Unit Tests Results'
        displayName: 'Publish Unit Test Results'